@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #bd2460;
  --primary-light: #ff48b4;
  --primary-dark: #6a264b;
  --secondary-color: #0d1427;
  --secondary-light: #11325d;
  --background: #0d1427;
}

body {
  background-color: var(--background);
}
